# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Uploads
backend/app/uploads/*

# Keep uploads folder structure
!backend/app/uploads/.gitkeep

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db